<ul>
    <% @movies.each do |movie| %>
        <li>
            <strong><%= movie.title %></strong>
            (<%= movie.rating %>):
            <%= total_gross(movie) %>
            <p><%= shortener(movie) %></p>
            <p>Release: <%= formated_date(movie) %></p>
        </li>
    <% end %>
</ul>